/* Mobile styles */
@media screen and(max-width: 800px) {
  .navbar a {
    margin-left: 8px;
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 8px;
  }

  .navbar h1 {
    font-weight: 400px;
    text-align: left;
  }
  .bnr-right {
    margin-top: -1000px;
  }
}

/* Tab styles */
/* @media screen and(max-width: 500px) {

    .nav-btn{
        display: none;
    }
 .icon{
    display: block;
 }
  
} */
